body {
  position: relative;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#experience {
  padding-top: 2rem;
  background-color: #e2edff;
}

#education {
  padding-top: 2rem;
  background-color: #fff;
}

#skills {
  padding-top: 2rem;
  background-color: #e2edff;
}

#contact {
  padding-top: 2rem;
  background-color: #fff;
}

section {
  padding-top: 5rem;
}

.carousel__img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.carousel__caption {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 1;
  right: 0;
  bottom: 1;
  left: 0;
}

.sosmed {
  text-decoration: none;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
